**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore override files as they are usually local-only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.lock.hcl
